In [13]:
import pandas as pd

# Sample data
df = pd.DataFrame({
    'name': ['Store A', 'Store A', 'Store B', 'Store A', 'Store B'],
    'day of week': ['Monday', 'Tuesday', 'Monday', 'Wednesday', 'Wednesday'],
    'start': ['09:00', '10:00', '08:30', '11:00', '09:30'],
    'end': ['17:00', '18:00', '16:30', '19:00', '17:30']
})

# Build a dictionary: name -> mini-DataFrame (schedule)
store_schedules = {
    name: group.set_index('day of week')[['start', 'end']]
    for name, group in df.groupby('name')
}

# Create a new DataFrame where each row is a store and the schedule is a cell
final_df = pd.DataFrame({
    'name': list(store_schedules.keys()),
    'schedule': list(store_schedules.values())
})

final_df.loc[0,'schedule']

             start    end
day of week
Monday       09:00  17:00
Tuesday      10:00  18:00
Wednesday    11:00  19:00

In [14]:
df

      name day of week  start    end
0  Store A      Monday  09:00  17:00
1  Store A     Tuesday  10:00  18:00
2  Store B      Monday  08:30  16:30
3  Store A   Wednesday  11:00  19:00
4  Store B   Wednesday  09:30  17:30